In [30]:

!pip install nbconvert

Requirement already satisfied: nbconvert in /Users/julissaguzman/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (5.6.1)
Requirement already satisfied: bleach in /Users/julissaguzman/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from nbconvert) (3.1.5)
Requirement already satisfied: mistune<2,>=0.8.1 in /Users/julissaguzman/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from nbconvert) (0.8.4)
Requirement already satisfied: traitlets>=4.2 in /Users/julissaguzman/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from nbconvert) (4.3.3)
Requirement already satisfied: jupyter-core in /Users/julissaguzman/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from nbconvert) (4.6.3)
Requirement already satisfied: pandocfilters>=1.4.1 in /Users/julissaguzman/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from nbconvert) (1.4.2)
Requirement already satisfied: defusedxml in /Users/julissaguzman/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from nbconvert) (0.6.0)
Requirement already satisfied: entrypoints>=0.2.2 in /Users/julissaguzman/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from nbconvert) (0.3)
Requirement already satisfied: pygments in /Users/julissaguzman/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from nbconvert) (2.6.1)
Requirement already satisfied: testpath in /Users/julissaguzman/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from nbconvert) (0.4.4)
Requirement already satisfied: nbformat>=4.4 in /Users/julissaguzman/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from nbconvert) (5.0.7)
Requirement already satisfied: jinja2>=2.4 in /Users/julissaguzman/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from nbconvert) (2.11.2)
Requirement already satisfied: six>=1.9.0 in /Users/julissaguzman/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from bleach->nbconvert) (1.15.0)
Requirement already satisfied: packaging in /Users/julissaguzman/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from bleach->nbconvert) (20.4)
Requirement already satisfied: webencodings in /Users/julissaguzman/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from bleach->nbconvert) (0.5.1)
Requirement already satisfied: decorator in /Users/julissaguzman/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from traitlets>=4.2->nbconvert) (4.4.2)
Requirement already satisfied: ipython-genutils in /Users/julissaguzman/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from traitlets>=4.2->nbconvert) (0.2.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /Users/julissaguzman/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from nbformat>=4.4->nbconvert) (3.2.0)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/julissaguzman/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from jinja2>=2.4->nbconvert) (1.1.1)
Requirement already satisfied: pyparsing>=2.0.2 in /Users/julissaguzman/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from packaging->bleach->nbconvert) (2.4.7)
Requirement already satisfied: setuptools in /Users/julissaguzman/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert) (47.1.1.post20200604)
Requirement already satisfied: pyrsistent>=0.14.0 in /Users/julissaguzman/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert) (0.16.0)
Requirement already satisfied: attrs>=17.4.0 in /Users/julissaguzman/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert) (19.3.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /Users/julissaguzman/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert) (1.7.0)
Requirement already satisfied: zipp>=0.5 in /Users/julissaguzman/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from importlib-metadata; python_version < "3.8"->jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert) (3.1.0)

In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
import pymongo
from flask import Flask, render_template, redirect
from flask_pymongo import PyMongo

In [2]:
!which chromedriver

/usr/local/bin/chromedriver

In [3]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)

In [6]:
html = browser.html
news_soup = bs(html, 'html.parser')

### NASA Mars News

In [27]:
news_title = news_soup.find_all('div', class_='content_title')[0].text
news_par = news_soup.find_all('div', class_='article_teaser_body')[0].text

print(news_title)
print(news_par)

Mars Now
NASA released an independent review report Tuesday indicating the agency is well positioned for its Mars Sample Return campaign to bring pristine samples from Mars to Earth for scientific study.

## JPL Mars Space Images - Featured Image

In [23]:
images_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(images_url)

In [24]:
image_soup = bs(html, 'html.parser')

In [25]:
image_path = image_soup.find_all('img')[3]["src"]
featured_image_url = images_url + image_path
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars/images/astropedia/astropedia-logo-main.png

### Mars Facts

In [14]:
mars_facts_url = 'https://space-facts.com/mars/'
tables = pd.read_html(mars_facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [15]:
mars_facts_df = tables[2]
mars_facts_df.columns
mars_facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [16]:
html_table = mars_facts_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [17]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>0</th>      <th>1</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [18]:
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

### Mars Hemispheres

In [19]:
hemispheres_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemispheres_url)
html = browser.html

In [20]:
soup = bs(html, "html.parser")

hemisphere_image_urls = []

imgs = soup.find("div", class_ = "result-list" )
hemispheres = imgs.find_all("div", class_="item")


for hemisphere in hemispheres:
    title = hemisphere.find("h3").text
    title = title.replace("Enhanced", "")
    img = hemisphere.find("a")["href"]
    image_link = "https://astrogeology.usgs.gov/" + img   
    browser.visit(image_link)
    html = browser.html
    soup = bs(html, "html.parser")
    downloads = soup.find("div", class_="downloads")
    image_url = downloads.find("a")["href"]
    hemisphere_image_urls.append({"title": title, "img_url": image_url})


print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere ', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere ', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere ', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere ', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [21]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere ',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere ',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere ',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere ',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]